.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .loginImg {
    width: 7.0625rem;
    height: 4.8125rem;
  }

  .firstMessage {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
  }
  